<nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
            {{#if @site.logo}}
                <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
        {{/is}}
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {{#if @site.facebook}}
                <a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
            {{#if @site.twitter}}
                <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
            {{/if}}
            <a class="social-link social-link-fb" href="https://github.com/ducmeit1" title="Github" target="_blank" rel="noopener">{{> "icons/github"}}</a>
            <a class="social-link social-link-fb" href="https://www.linkedin.com/in/ducmeit1" title="LinkedIn" target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>
            <a class="social-link social-link-fb" href="mailto:ducho@beeketing.net" title="Contact Me" target="_blank" rel="noopener">{{> "icons/email"}}</a>
            <a class="social-link social-link-fb" href="https://www.buymeacoffee.com/ducmeit1" title="Buy Coffee" target="_blank" rel="noopener">{{> "icons/coffee"}}</a>
            <a class="rss-button" href="{{@site.url}}/rss" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        </div>
        {{#if @labs.subscribers}}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
           {{/if}}
    </div>
</nav>
